REACT_APP_SERVER_URL="http://localhost:3030"
REACT_APP_FRONTEND="http://localhost:3000"
REACT_APP_PROJECT_NAME="abcCompany"
REACT_APP_PROJECT_LABEL="ABC company"
REACT_APP_PROJECT_ID="6a03496ce76a3aac248eb578"
REACT_APP_LAST_UPDATED="5/12/2026"
REACT_APP_SECRETKEY="b164d077c866ade32c1cf33b992d21719d4726ac5cb03abb2ac711db14e481cb"
REACT_APP_EMAIL_DOMAIN="example.com"
REACT_APP_USE_USER_INVITE_SIGNUP=true
REACT_APP_ENV=dev
REACT_APP_DATE="dd/MM/yyyy"
REACT_APP_TIME="hh:mm:ss"
REACT_APP_LANGUAGE="en_MY"
REACT_APP_CURRENCY="MYR"
REACT_APP_COUNTRY="MY"
